@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot');
  src: url('iconfont.eot?#iefix') format('embedded-opentype'),
      url('iconfont.woff2') format('woff2'),
      url('iconfont.woff') format('woff'),
      url('iconfont.ttf') format('truetype'),
      url('iconfont.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-left:before {
  content: "\e943";
}

.icon-top02:before {
  content: "\e6f5";
}

.icon-wechat:before {
  content: "\e640";
}

.icon-twitter:before {
  content: "\e655";
}

.icon-share:before {
  content: "\e64d";
}

.icon-play:before {
  content: "\e570";
}

.icon-home:before {
  content: "\e62a";
}

.icon-share1:before {
  content: "\ea92";
}

.icon-read:before {
  content: "\e62f";
}

.icon-code:before {
  content: "\e94b";
}

.icon-stack-overflow:before {
  content: "\e6a9";
}

.icon-QRcode-o:before {
  content: "\e60d";
}

.icon-QQ:before {
  content: "\e666";
}

.icon-arrow-right-:before {
  content: "\e631";
}

.icon-search:before {
  content: "\e661";
}

.icon-cross:before {
  content: "\e66d";
}

.icon-menu:before {
  content: "\e67e";
}

.icon-pause:before {
  content: "\e653";
}

.icon-timer__s:before {
  content: "\e85d";
}

.icon-github:before {
  content: "\f1b4";
}

.icon-linkedin:before {
  content: "\e747";
}

.icon-text2:before {
  content: "\e71e";
}

.icon-email:before {
  content: "\e62e";
}
